* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    line-height: ;
  }

.all-body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.left-body-item {
  order: 0;
  flex-shrink: 2;
}

.middle-body-item {
  order: 1;
  flex-grow: 30;
  flex-basis: auto;
}

.right-body-item {
  order: 2;
}