.Footer {
    background-image: url('../images/hotel-wallpaper-black.png');
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 50vh 0 50vh #000;
    padding-top: 30px;
}

.Footer p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.Footer h4 {
    color: white;
    font-size: 2rem;
    text-align: center;
    align-content: center;
}

.Footer a {
    text-align: center;
}

/* I would like to add a wrap property somehow. */

/*  */

.Footer-Row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;    
    align-items: stretch;
    justify-content: center;
}

.Footer-Col {
    width: '30%';
}

.icon-container {
    display: flex;
    flex-direction: row;
}

.icon-item {
    margin:10px;
    padding:20px;
    border-color: white;
    border-radius: 5px;
    border-spacing: 50px;
    border-style: double;
}

.icon-item p {
    font-size: 30px;
}

.icon-item .email {
    font-size: 15px;
    position: relative;
    bottom: 8px;
}

.Last-Updated h4{
    font-size: 20px;
    position: relative;
    top: 20px;
}

/* Ok fuck it I want the last updated to wrap underneath the icons when it gets tight instead of this pussy shit. */


@media (max-width: 700px)
{
    .icon-item {
        margin: 1px;
    }

    .icon-item .email {
        font-size: 12px;
    }
    /* I need to get rid of the left and right margin for the icons bro */
}

@media (max-height: 1550px)
{

}
