.Home {
    text-align: center;
    background-image: '../images/ripples.png';
}

.Home-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.Left-side {
    background-color: grey;
    grid-column: 1;
}

.Right-side {
    background-color: grey;
    grid-column: 3;
}

.Main-home-container {
    display: grid;
    grid-column: 2;
    grid-template-rows:100px 200px 200px;
}

.Title-container {
    grid-row: 1;
}

.Top-project-container {
    display: grid;
    grid-row: 2;
    grid-template-columns: 50% 50%;
    /*  */
}

.Bottom-project-container {
    grid-row: 3;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 25% 25%;
}

.left-top-project {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: red;
    grid-column: 1;
    display:grid;
    grid-template-columns: auto 200px;
}

.left-top-project Text {
    grid-column: 1;
    text-align: center;
}

.left-top-project Image {
    grid-column: 2;
}

.left-top-project img {

    margin: 10px;
    height: 90%;
    width:90%;
}


.right-top-project {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-column: 2;
}

.right-top-project Image{

}

.right-top-project Text{

}


.right-top-project img {
    background-image: red;
}

/* '../images/ripples.png' */
/* '../images/sidebar.jpg' */