.Home {
    text-align: center;
    background-image: '../images/ripples.png';
}

.Home-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    background-image: url('../images/ripples.png');
}

.Left-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 1;
}

.Right-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 3;
}

.Main-home-container {
    display: grid;
    grid-column: 2;
    grid-template-rows:100px auto;
}

.Title-container {
    grid-row: 1;
}

.Title-container h1{
    text-align: center;
    position:relative;
    bottom: -30px;
}

.Health-Hub-Container {
    display: grid;
    grid-template-rows: 50px 250px auto;
    border-top-width: 10px;
    border-style: solid;
    padding-bottom: 50px;

}

.Title {

}

/* Section 1 the summary */

.Quick-Summary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: lightgrey;
}

.Quick-Summary .Text {
    order:1;
    width:500px;
    margin-right: 100px;
    margin-top:50px;

}

.Quick-Summary .Image {
    order:2;
}

.Quick-Summary .Image img {
    height: 200px;
    width: 200px;
}

/* Section 2 the showcase */

.Showcase {
 display: grid;
 grid-template-rows: 500px 1200px ;
 grid-template-columns: 50% 50%;
 justify-content: space-evenly;
}

.Showcase img {
    width: 600px;
    margin-top: 50px;
}

.Showcase  .hhinputui{
 grid-column: 1;
 grid-row: 1;
}

.Showcase .hhinputcode{
    grid-column: 1;
    grid-row: 2;
}

.Showcase .hhoutputui{
    grid-column: 2;
    grid-row: 1;
}

.Showcase .hhoutputoutcode{
    grid-column: 2;
    grid-row: 2;
}

.explanation {

}