.Home {
    text-align: center;
    background-image: '../images/ripples.png';
}

.Home-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    background-image: url('../images/ripples.png');
}

.Left-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 1;
}

.Right-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 3;
}

.Main-home-container {
    display: grid;
    grid-column: 2;
    grid-template-rows:100px auto;
}

.Title-container {
    grid-row: 1;
}

.Title-container h1{
    text-align: center;
    position:relative;
    bottom: -30px;
}

.Health-Hub-Container {
    display: grid;
    grid-template-rows: auto auto auto;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-top-style: solid;
    padding-bottom: 50px;

}


.Quick-Summary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: lightgrey;
    padding-bottom: 15px;
    padding-top: 15px;
}

.Quick-Summary .Text {
    order:1;
    width:500px;
    margin-right: 100px;
    margin-top:auto;
    margin-bottom:auto;

}

.Quick-Summary .Image {
    order:2;
}

.Quick-Summary .Image img {
    height: 200px;
    width: 200px;
}

.Showcase {
 display: grid;
 grid-template-rows: auto auto auto auto;
 grid-template-columns: 50% 50%;
 justify-content: space-evenly;
}

.Showcase img {
    width: 600px;
    margin-top: 50px;
}

.Showcase  .hhinputui{
 grid-column: 1;
 grid-row: 1;
}

.Showcase .hhinputcode{
    grid-column: 1;
    grid-row: 2;
}

.Showcase .hhoutputui{
    grid-column: 2;
    grid-row: 1;
}

.Showcase .hhoutputoutcode{
    grid-column: 2;
    grid-row: 2;
}

.Technologies {
    margin-top: 10px;
}

.Technologies-A {
    font-weight: bold;

    text-decoration: underline;
}

.Technologies-B {
    text-decoration: underline;
}

.Repo-Link {
    font-size: 25px;
    padding-top: 7px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    background-image: url('../images/hotel-wallpaper.png');
    height:50px;
}

.Project-Title h1 {
    font-size: 75px;
}


@media (max-width: 1440px)
{
    .Showcase {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .Showcase  .hhinputui{
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
       }
       
       .Showcase .hhinputcode{
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
       }
       
       .Showcase .hhoutputui{
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
       }
       
       .Showcase .hhoutputoutcode{
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
       }
}

.explanation {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1040px)
{   
    .Quick-Summary .Text {
        order:1;
        width:300px;
    }
    /* Here I will have to change the dimensions for the summary so that it flexes */
}

@media (max-width: 830px)
{
    .Main-home-container
    {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .Left-side
    {
        width: 0px;
    }
    .Right-side
    {
        width: 0px;
    }
}

@media (max-width: 650px)
{
    .Showcase img {
        width: 500px;
        margin-top: 50px;
    }

    
    .Quick-Summary .Text {
        order:1;
        width:290px;
        margin-right: 10px;
        margin-top:50px;
    
    }
    
    .Quick-Summary .Image {
        order:2;
    }
    
    .Quick-Summary .Image img {
        height: 200px;
        width: 200px;
    }
}