.Resume {
    text-align: center;
    background-image: '../images/ripples.png';
}
.Resume-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    background-image: url('../images/ripples.png');
}

.Left-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 1;
}

.Right-side {
    background-image: url('../images/hotel-wallpaper-black.png');
    grid-column: 3;
}

/* A4 ratio is 1:1.414*/

.A4 {
    background-image: url('../images/white-marble.jpg');
    background-size: cover;
    text-align: auto;
    margin-left: auto;
    margin-right:auto;
    margin-top:75px;
    margin-bottom:75px;
    background-color: cornsilk;
    height: 707px;
    width: 500px;
    display: grid;
    
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 120px 80px 280px auto 50px;
}

.A4 h1 {
    text-align: left;
    font-size: 25px;
    border-bottom-color: black;
    border-bottom-style: solid;
    
    border-width:2px;
    
    margin-bottom: 10px;
}

.A4 h2 {
    text-align: left;
    font-size: 20px;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.A4 h3 {
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    text-decoration: underline;
    margin-top: 5px;
}

.A4 h4 {
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    border-width: 1px;
    border-bottom-style: dotted;
    border-color: lightgrey;
}

.A4 p {
    text-align: left;
    font-size: 9px;
    margin-left: 25px;
}

.bold {
    font-weight: bold;
}

/* Code that was copied from the documentation */

.Name-Contact {
    grid-row:2;
    grid-column:2;
}


.Skill-section {
    grid-row:3;
    grid-column:2;
}

.Experience {
    grid-row:4;
    grid-column:2;
}

.Education-Certificate {
    grid-row:5;
    grid-column:2;
}


/* The CV needs to increase its size upon a certain resolution */

@media (max-width: 700px) {
    /* now that I have gotten rid of the sides I need to figure out a way to have the component sit in the middle */

    .Main-Resume-container
    {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .Left-side
    {
        width: 0px;
    }
    .Right-side
    {
        width: 0px;
    }
}


@media (min-width: 1550px)
{
    .Resume-container {
        grid-template-columns: 250px auto 250px;
    }

    .A4 {
        width: 1000px;
        height: 1414px;
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 100px 240px 160px 560px auto 100px;
    }

    .A4 p {
        font-size: 18px;
        margin-left: 50px;
    }

    .A4 h4 {
        font-size: 30px;
        margin-left: 40px;
        border-width: 2px;
    }

    .A4 h3 {
        font-size: 36px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .A4 h2 {
        font-size: 40px;
        border-width: 2px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .A4 h1 {
        font-size: 50px;
        border-width:4px;
        margin-bottom: 20px;
    }
}